/*
 Width: 1000px
 # Columns : 12 
 Column width: 65px
 Gutter : 20px 

 */
.grid_1 { width: 7.64705%; } /* 65 px */
.grid_2 { width: 17.64705%; } /* 150 px */
.grid_3 { width: 27.64705%; } /* 235 px */
.grid_4 { width: 37.64705%; } /* 320 px */
.grid_5 { width: 47.64705%; } /* 405px */
.grid_6 { width: 57.64705%; } /* 490px */
.grid_7 { width: 67.64705%; } /* 575px */
.grid_8 { width: 77.64705%; } /* 660px */
.grid_9 { width: 87.64705%; } /* 745px */
.grid_10 { width: 97.64075%; } /* 830px */
/*.grid_11 { width: 915px; } N/A for my wrapper width @ 85% = 850px */
/*.grid_12 { width: 1000px; }  N/A for my wrapper width @ 85% = 850px */

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 3.52941% 3.52941% 0;
	float: left;
	display: block;
}

.alpha{margin-left:0;}
.omega{margin-right:0;}

.container{
	max-width: 1000px; 
	margin: auto;
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}