html {
		background: #f0f0f0 url('img/diamond_upholstery.png') repeat;
}

body {
	font-family: Helvetica, sans-serif;
	color: #999;
}

header {
	float: left;
}

a {
	color: #000;
	text-decoration: none;
}

h2 {
	font-size: 2.5em;
	/*font-size: 3.25vw;*/
	color: #ccc;
}

hr {
 border: 0; 
 height: 1px; 
 background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
 background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
 background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
 background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.ruler {
	clear: both;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

#intro {
	float: right;
	margin-top: 1.17647%;
}

#contact {
	clear: none;
}

#love .section-head,
#quirks .section-head,
#history .section-head,
#contact .section-head {
	font-family: rosewood-std;
	font-size: 4em;
	color: #000;
	margin: 5.88235% 0 -1.17647% 0;
}

#quirks img {
	border: 3px solid #000;
}

#contact .social-contact {
	display: block;
	margin-right: 4.93827%; /*20px*/
	border: none;
	float: left;
}

#love p, #quirks p,
#history p, #contact p {
	font-size: 1.25em;
}

#love img {
	border: 3px solid #000;
}

#rockabilly-video {
	opacity: .4;
	border: 3px solid #000;
}

.float-right {
	float: right;
	margin-right: 0;
}

#copyright {
	padding: 1.20481% 0; /*10px 0*/
	margin: 5.88235% 0 1.17647% 0;
	text-align: center;
}

.close-margin {
	margin-right: -.11764%;
}

.no-border {
	border: none;
}

img, object {
	max-width: 100%;
	margin-bottom: 4.93827%; /*20px*/
}

/* Media Queries */
/* Small & Medium displays --------------- */
@media screen and (max-width: 767px) {

	header img {
		display: block;
		/*width: 233px;*/
		margin: 0 auto;
	}

	#intro h2 {
		font-size: 2.75em;
	}

	#love p, #quirks p,
	#history p, #contact p {
		font-size: 2em;
	}

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%;
	}

	#history img {
		display: none;
	}
}

/* iPad ------------------ */
@media screen and (max-width: 1024px) {
	h2 {
		font-size: 2em;
	}
}